$black: #262626;
$blue: #0095F6;
$darkWhite: #FAFAFA;
$borderColor: #DBDBDB;
$gradient: linear-gradient(180deg, #DE0046 0%, #F7A34B 100%);
$gradient-2: linear-gradient(180deg, #751BCF 0%, #B62586 49.48%, #EFAC59 100%);
$gray: #A9969D;